.card-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 550px;
  gap: 20px;
}
.product-img-style{
  text-align: center;
}
.product-img-style img{
  width: 50%;
  height: 200px;
  object-fit: contain;
}
.product-details-img img{
  width: 60%;
  object-fit: contain;
}
.product-details-img{
  min-height: 600px;
}